.button-container .button1 {
    background-color: #4CAF50; /* Green */
    display: inline-block;
    margin: 20px auto;
    font-size: 24px;
    margin: 0 25px;
    min-width: 150px;
}
.button-container {
    text-align: center;
}

.button-container .button2 {
    background-color: #f44336; /* Green */
    display: inline-block;
    margin: 20px auto;
    font-size: 24px;
    margin: 0 25px;
    min-width: 150px;
}
.button-container .button3 {
    background-color: #008CBA; /* Green */
    display: inline-block;
    margin: 20px auto;
    font-size: 24px;
    margin: 0 25px;
    min-width: 150px;
}
.button-container .button4 {
    background-color: #e7e7e7; /* Green */
    display: inline-block;
    margin: 20px auto;
    font-size: 24px;
    margin: 0 25px;
    min-width: 150px;
}
.button-container .button {
    min-width: 150px;
}
